// first import
@import 'normalize.css';
@import "_var";
@import "font-import";
@import "grid";

html {
  font-size: 10px;
  background: white;
}

body {
  font-family: 'modernGothic', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.hem-font-xxl {
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 8rem;
  font-family: 'PPAgrandir', sans-serif;
}

h2,
.hem-font-xl {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: 'PPAgrandir', sans-serif;
}

p, h5 {
  font-size: 1.8rem;
  line-height: 2rem;
}


input[type='text'],
select {
  display: block;
  border-radius: 0;
  box-sizing: border-box;
  line-height: 4rem;
  height: 5rem;
  border: solid 2px;
}

ul {
  display: block;
  padding: 0 0 0 1.5em;

  li {
    display: block;
    position: relative;
    &:before {
      content: "—";
      position: absolute;
      left: -1.5em;
    }
  }
}
