// first import
@import 'normalize.css';
@import "_var";
@import "font-import";
@import "grid";

html {
  font-size: 10px;
}

body {
  font-family: 'modernGothic', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
}

p, h5 {
  font-size: 1.8rem;
  line-height: 2rem;
}
