@font-face {
  font-family: 'modernGothic';
  src: url('fonts/PPAgrandir-Bold.woff2') format('woff2'),
  url('fonts/PPAgrandir-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'modernGothic';
  src: url('fonts/PPAgrandir-BoldItalic.woff2') format('woff2'),
  url('fonts/PPAgrandir-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'modernGothic';
  src: url('fonts/PPAgrandir-Regular.woff2') format('woff2'),
  url('fonts/PPAgrandir-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'modernGothic';
  src: url('fonts/PPAgrandir-Italic.woff2') format('woff2'),
  url('fonts/PPAgrandir-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
