@use "scss-var";

.hem-rm-margins {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.fp-grid-with-gutter {
  box-sizing: border-box;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

.fp-grid-with-vertical-spacing {
  box-sizing: border-box;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

// coll

.fp-grid-row-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.fp-grid-row-container--center {
    justify-content: center;
  }

  &.fp-grid-row-container--justify {
    justify-content: space-between;
  }

  &.fp-grid-row-container--no-wrap {
    flex-wrap: nowrap;
  }

  &.fp-grid-row-container--with-gap {
    gap: var(--gutter);
  }

  &.fp-grid-row-container--align-bottom {
    align-items: flex-end;
  }

  &.fp-grid-row-container--align-center {
    align-items: center;
  }
}

.fp-grid-coll-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.fp-grid-coll-container--center {
    justify-content: center;
  }

  &.fp-grid-coll-container--justify {
    justify-content: space-between;
  }

  &.fp-grid-coll-container--no-wrap {
    flex-wrap: nowrap;
  }

  &.fp-grid-coll-container--with-gap {
    gap: var(--gutter);
  }

  &.fp-grid-coll-container--align-bottom {
    align-items: flex-end;
  }
}


.fp-grid-coll-1-24 {box-sizing: border-box;width: calc(100% / 24 * 1);}
.fp-grid-coll-2-24 {box-sizing: border-box;width: calc(100% / 24 * 2);}
.fp-grid-coll-3-24 {box-sizing: border-box;width: calc(100% / 24 * 3);}
.fp-grid-coll-4-24 {box-sizing: border-box;width: calc(100% / 24 * 4);}
.fp-grid-coll-5-24 {box-sizing: border-box;width: calc(100% / 24 * 5);}
.fp-grid-coll-6-24 {box-sizing: border-box;width: calc(100% / 24 * 6);}
.fp-grid-coll-7-24 {box-sizing: border-box;width: calc(100% / 24 * 7);}
.fp-grid-coll-8-24 {box-sizing: border-box;width: calc(100% / 24 * 8);}
.fp-grid-coll-9-24 {box-sizing: border-box;width: calc(100% / 24 * 9);}
.fp-grid-coll-10-24 {box-sizing: border-box;width: calc(100% / 24 * 10);}
.fp-grid-coll-11-24 {box-sizing: border-box;width: calc(100% / 24 * 11);}
.fp-grid-coll-12-24 {box-sizing: border-box;width: calc(100% / 24 * 12);}
.fp-grid-coll-13-24 {box-sizing: border-box;width: calc(100% / 24 * 13);}
.fp-grid-coll-14-24 {box-sizing: border-box;width: calc(100% / 24 * 14);}
.fp-grid-coll-15-24 {box-sizing: border-box;width: calc(100% / 24 * 15);}
.fp-grid-coll-16-24 {box-sizing: border-box;width: calc(100% / 24 * 16);}
.fp-grid-coll-17-24 {box-sizing: border-box;width: calc(100% / 24 * 17);}
.fp-grid-coll-18-24 {box-sizing: border-box;width: calc(100% / 24 * 18);}
.fp-grid-coll-19-24 {box-sizing: border-box;width: calc(100% / 24 * 19);}
.fp-grid-coll-20-24 {box-sizing: border-box;width: calc(100% / 24 * 20);}
.fp-grid-coll-21-24 {box-sizing: border-box;width: calc(100% / 24 * 21);}
.fp-grid-coll-22-24 {box-sizing: border-box;width: calc(100% / 24 * 22);}
.fp-grid-coll-23-24 {box-sizing: border-box;width: calc(100% / 24 * 23);}
.fp-grid-coll-24-24 {box-sizing: border-box;width: calc(100% / 24 * 24);}


@media (max-width: scss-var.$breakpoint-reg) {
  .fp--reg-grid-coll-1-24 {box-sizing: border-box;width: calc(100% / 24 * 1);}
  .fp--reg-grid-coll-2-24 {box-sizing: border-box;width: calc(100% / 24 * 2);}
  .fp--reg-grid-coll-3-24 {box-sizing: border-box;width: calc(100% / 24 * 3);}
  .fp--reg-grid-coll-4-24 {box-sizing: border-box;width: calc(100% / 24 * 4);}
  .fp--reg-grid-coll-5-24 {box-sizing: border-box;width: calc(100% / 24 * 5);}
  .fp--reg-grid-coll-6-24 {box-sizing: border-box;width: calc(100% / 24 * 6);}
  .fp--reg-grid-coll-7-24 {box-sizing: border-box;width: calc(100% / 24 * 7);}
  .fp--reg-grid-coll-8-24 {box-sizing: border-box;width: calc(100% / 24 * 8);}
  .fp--reg-grid-coll-9-24 {box-sizing: border-box;width: calc(100% / 24 * 9);}
  .fp--reg-grid-coll-10-24 {box-sizing: border-box;width: calc(100% / 24 * 10);}
  .fp--reg-grid-coll-11-24 {box-sizing: border-box;width: calc(100% / 24 * 11);}
  .fp--reg-grid-coll-12-24 {box-sizing: border-box;width: calc(100% / 24 * 12);}
  .fp--reg-grid-coll-13-24 {box-sizing: border-box;width: calc(100% / 24 * 13);}
  .fp--reg-grid-coll-14-24 {box-sizing: border-box;width: calc(100% / 24 * 14);}
  .fp--reg-grid-coll-15-24 {box-sizing: border-box;width: calc(100% / 24 * 15);}
  .fp--reg-grid-coll-16-24 {box-sizing: border-box;width: calc(100% / 24 * 16);}
  .fp--reg-grid-coll-17-24 {box-sizing: border-box;width: calc(100% / 24 * 17);}
  .fp--reg-grid-coll-18-24 {box-sizing: border-box;width: calc(100% / 24 * 18);}
  .fp--reg-grid-coll-19-24 {box-sizing: border-box;width: calc(100% / 24 * 19);}
  .fp--reg-grid-coll-20-24 {box-sizing: border-box;width: calc(100% / 24 * 20);}
  .fp--reg-grid-coll-21-24 {box-sizing: border-box;width: calc(100% / 24 * 21);}
  .fp--reg-grid-coll-22-24 {box-sizing: border-box;width: calc(100% / 24 * 22);}
  .fp--reg-grid-coll-23-24 {box-sizing: border-box;width: calc(100% / 24 * 23);}
  .fp--reg-grid-coll-24-24 {box-sizing: border-box;width: calc(100% / 24 * 24);}
}
